# backups / work in progress
*~

# make and build files
*.o
*.pyc

*.gtfsdb
*.zip

stops.db
timetable.dat
vehiclePositions.pb

rrrr.sh
brrrroker
workerrrr
client
lookup-console
hashgrid
testerrrr
explorerrrr
rrrrealtime
rrrrealtime-viz

stops
trips
